<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="preconnect" href="https://fonts.gstatic.com" />
        <link
            href="https://fonts.googleapis.com/css2?family=Lato&display=swap"
            rel="stylesheet"
        />
        <link rel="stylesheet" href="style.css" />
        <title>stonks!</title>
        <meta name="title" content="stonks!" />
        <meta name="description" content="very stonks! much wow!" />
        <meta property="og:type" content="website" />
        <meta property="og:title" content="stonks!" />
        <meta property="og:description" content="very stonks! much wow!" />
    </head>
    <body>
        <div id="app">
            <h1 class="title">stonks!</h1>
            <div
                class="stonk"
                v-cloak=""
                v-for="(stonk, index) in stonks"
                :key="index"
            >
                <div v-if="stonk" :class="stonk.className">
                    <div class="name">{{ stonk.name }}</div>
                    <div class="price">
                        $<Roller :text="stonk.price"></Roller>
                    </div>
                    <div class="diff">
                        {{ stonk.prefix }}${{ stonk.diff }} ({{ stonk.prefix
                        }}{{ stonk.percentage }}%)
                        <span class="mute">Today</span>
                    </div>
                </div>
                <div v-else="">Loading...</div>
            </div>
        </div>
        <script src="index.js"></script>
    </body>
</html>
